<div>
  <table mat-table class="full-width-table" matSort matSortActive="id" matSortDirection="asc" aria-label="Id">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>BB AI Pin Name</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{highlighted: selection.isSelected(row)}">{{row.id}}</td>
    </ng-container>

    <ng-container matColumnDef="armPin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>AM5729 Pin</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{highlighted: selection.isSelected(row)}">{{row.armPin}}</td>
    </ng-container>

    <ng-container matColumnDef="registerAddress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Register Address</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{highlighted: selection.isSelected(row)}">{{row.registerAddress}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let pin; columns: displayedColumns;"
      (click)="onSelect(pin)" 
      [ngClass]="{hovered: pin.hovered, highlighted: selection.isSelected(pin)}"
      (mouseover)="pin.hovered = true" 
      (mouseout)="pin.hovered = false">
    </tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[10, 20, 30]">
  </mat-paginator>
</div>
