<h2>Search By BealgeBone AI Pin</h2>
<div>
    <label>BB AI Pin Name:
        <input [(ngModel)]="queryPin" placeholder="P8.1"/>
        <button (click)="pinSearch(queryPin)">Search</button>
    </label>
</div>
<h2>Search By AM5729 Signal Name</h2>
<div>
    <label>AM5729 Signal Name:
        <input [(ngModel)]="querySignal" placeholder="gpio"/>
        <button (click)="signalSearch(querySignal)">Search</button>
    </label>
</div>

<app-query-results [queryParameter]="queryParameter"></app-query-results>