:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    margin-top: 64px;
    overflow-y: visible;
  }
  
  .lab2-main-container {
    display: flex;
    flex: 1 1 auto;
  }
  
  .lab2-nav-panel {  
    position: sticky;
    top: 0;
    height: calc(100vh - 56px);
    width: 200px;
    overflow: auto;
  }
  
  .lab2-main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
  }