<div>
    <mat-toolbar color="primary">
      {{title}}
  </mat-toolbar>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut l
      abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
      sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut l
      abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
      sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

</div>

<div>
    <h2>
        The Labs
    </h2>

    <mat-card class="home-page-card">
    <mat-card-header>
      <div mat-card-avatar class="lab1-avitar-image"></div>
      <mat-card-title>Lab 1: Setup</mat-card-title>
      <mat-card-subtitle>Setup Beagle Bone AI for these labs</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button routerLink="/lab1-setup" color="primary">Explore Lab</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="home-page-card">
    <mat-card-header>
      <div mat-card-avatar class="lab2-avitar-image"></div>
      <mat-card-title>Lab 2: Pin Muxing</mat-card-title>
      <mat-card-subtitle>How to configure the AM5729 output pins</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button routerLink="/lab2-pinmux" color="primary">Explore Lab</button>
    </mat-card-actions>
  </mat-card>
</div>