<mat-toolbar color="primary">
    {{title}}
</mat-toolbar>

<div class="page-content">
<h2>Hardware Reference Manuals</h2>

<ul>
<li><a href="https://github.com/beagleboard/beaglebone-ai/wiki/System-Reference-Manual">BealgeBone AI System Reference Manual</a></li>
<li><a href="https://www.ti.com/lit/ug/spruhz6l/spruhz6l.pdf">AM572x Sitara™ Processors Technical Reference Manual</a></li>
<li><a href="https://www.ti.com/document-viewer/AM5729/datasheet/important_notice#ImpNotice001">AM572x Sitara™ Processors Silicon Revision 2.0 (Rev. G)</a></li>
</ul>
</div>